<p id="notice"><%= notice %></p>

<p>
  <strong>Buysell:</strong>
  <%= @order.buysell %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @order.unit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Orderexpire:</strong>
  <%= @order.orderexpire %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @order.delivery %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
